.container {
  display: flex;
  flex-grow: 1;

  padding-top: 64px;
}

.login {
  display: flex;
  justify-content: center;

  width: 100%;
}

.info {
  display: none;

  width: 50%;
  padding: 16px;

  color: var(--text-reversed);

  background-color: var(--primal-blue);
}

.slogan {
  font-size: var(--font-size-title-1);
  line-height: var(--line-height-title-1);
  font-weight: var(--font-weight-medium);

  margin-top: 16px;
}

.icons {
  margin-top: 16px;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
}

.icon:not(:first-child) {
  margin-left: 20px;
}

.description {
  font-weight: var(--font-weight-medium);

  margin-top: 16px;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 364px;
}

.logo {
  font-size: 40px;
  line-height: 46px;
  font-weight: var(--font-weight-bold);
}

.logo.mobile {
  color: var(--color-primary);
}

.content {
  width: 100%;
  margin-top: 16px;
  padding: 16px;

  border-radius: 16px;
  box-shadow: var(--shadow-block);
}

.tip {
  font-weight: var(--font-weight-medium);

  margin-top: 40px;
}

.registry {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .container {
    justify-content: center;
    align-items: center;
  }

  .login {
    max-width: 704px;
    min-height: 505px;

    overflow: hidden;
    border-radius: 16px;
    box-shadow: var(--shadow-block);
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main {
    justify-content: center;

    width: 50%;
    padding: 16px;
  }

  .logo.mobile {
    display: none;
  }

  .content {
    padding: 0;

    box-shadow: none;
  }
}
