.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 16px;
  padding-bottom: 12px;
}

.title {
  font-size: var(--font-size-title-1);
  line-height: var(--line-height-title-1);
}

.subheader {
  display: flex;
  align-items: center;
}

.subtitle {
  font-size: var(--font-size-title-2);
  line-height: var(--line-height-title-2);

  flex-grow: 1;
}

.actions {
  margin-left: 12px;
}

.action:not(:first-child) {
  margin-left: 8px;
}

.list {
  margin-top: 8px;
}