.skeleton {
  animation: pulse 1.65s ease-in-out 0.5s infinite;

  border-radius: 6px;
  background-color: var(--gallery);
}

.skeleton.circular {
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}