.button {
  font-weight: var(--font-weight-medium);

  cursor: pointer;

  transition-property: border-radius, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.button.small {
  font-size: var(--font-size-text-1);
  line-height: var(--line-height-text-1);

  padding: 4px 18px;

  border-radius: 6px;
}

.button.medium {
  font-size: var(--font-size-text-1);
  line-height: var(--line-height-text-1);

  padding: 6px 18px;

  border-radius: 8px;
}

.button.big {
  font-size: var(--font-size-title-4);
  line-height: var(--line-height-title-4);

  padding: 8px 22px;

  border-radius: 10px;
}

.button.large {
  font-size: var(--font-size-title-2);
  line-height: var(--line-height-title-2);

  padding: 10px 26px;

  border-radius: 12px;
}

.button.fullWidth {
  width: 100%;
}

.button.text {
  color: var(--color-primary);

  border: 2px solid transparent;
  background-color: transparent;
}

.button.text:not(:disabled):hover {
  border-color: var(--background-hover-secondary);
  background-color: var(--background-hover-secondary);
}

.button.text:not(:disabled):active {
  border-color: var(--background-active-secondary);
  background-color: var(--background-active-secondary);
}

.button.text:disabled {
  color: var(--text-disabled);
  cursor: unset;
}

.button.contained {
  color: var(--text-reversed);

  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
}

.button.contained.small {
  border-radius: 12px;
}

.button.contained.medium {
  border-radius: 16px;
}

.button.contained.big {
  border-radius: 20px;
}

.button.contained.large {
  border-radius: 24px;
}

.button.contained.small:not(:disabled):hover,
.button.contained.small:not(:disabled):active {
  border-radius: 6px;
}

.button.contained.medium:not(:disabled):hover,
.button.contained.medium:not(:disabled):active {
  border-radius: 8px;
}

.button.contained.big:not(:disabled):hover,
.button.contained.big:not(:disabled):active {
  border-radius: 10px;
}

.button.contained.large:not(:disabled):hover,
.button.contained.large:not(:disabled):active {
  border-radius: 12px;
}

.button.contained:not(:disabled):hover {
  border-color: var(--background-hover-primary);
  background-color: var(--background-hover-primary);
}

.button.contained:not(:disabled):active {
  border-color: var(--background-active-primary);
  background-color: var(--background-active-primary);
}

.button.contained:disabled {
  color: var(--text-disabled);
  cursor: unset;

  border-color: var(--background-disabled-secondary);
  background-color: var(--background-disabled-secondary);
}

.button.contained:not(:disabled):not(:active):focus {
  border-color: var(--pickled-bluewood);
}