.description {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--font-size-title-2);
  line-height: var(--line-height-title-2);
  font-weight: var(--font-weight-medium);

  padding: 0 8px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin-top: 16px;
}

.parsedContent {
  flex-grow: 1;

  padding: 9px;
}

.rawContent {
  flex-grow: 1;

  padding: 8px;

  resize: none;

  border: 1px solid transparent;
  border-radius: 12px;
  background-color: var(--background-control-hover);

  &:focus {
    border-color: var(--color-primary);
  }
}

.actions {
  display: flex;
  align-items: center;

  margin-top: 8px;
}

.markdown {
  & ul,
  & ol {
    margin: 8px 0;

    & > li {
      margin: 8px 8px 8px 24px;
      margin-inline-end: 8px;
      margin-inline-start: 24px;
    }
  }

  & ul > li {
    list-style: disc;
  }

  & ol > li {
    list-style: decimal;
  }

  & h1 {
    font-size: var(--font-size-title-2);
    line-height: var(--line-height-title-2);

    margin-bottom: 12px;
  }

  & h2 {
    font-size: var(--font-size-title-3);
    line-height: var(--line-height-title-3);

    margin-top: 16px;
    margin-bottom: 8px;
  }

  & h3 {
    font-size: var(--font-size-title-4);
    line-height: var(--line-height-title-4);

    margin-top: 12px;
    margin-bottom: 8px;
  }

  & h4 {
    font-size: var(--font-size-text-1);
    line-height: var(--line-height-text-1);

    margin: 8px 0;
  }

  & h5 {
    font-size: var(--font-size-text-2);
    line-height: var(--line-height-text-2);

    margin: 8px 0;
  }

  & h6 {
    font-size: var(--font-size-text-3);
    line-height: var(--line-height-text-3);

    margin: 8px 0;
  }

  & p {
    font-size: var(--font-size-text-1);
    line-height: var(--line-height-text-1);

    margin-bottom: 8px;
  }
}