.task {
  font-weight: var(--font-weight-medium);

  padding: 16px;

  border-radius: 16px;
  background-color: var(--background-color-primary);
  box-shadow: var(--shadow-secondary);
}

.row:not(:first-child) {
  margin-top: 8px;
}

.header {
  display: flex;
}


.date,
.description,
.estimation,
.difficulty {
  font-size: var(--font-size-text-2);
  line-height: var(--line-height-text-2);

  color: var(--text-no-accent);
}

.description {
  color: var(--text-no-accent);
}