.task {
  font-weight: var(--font-weight-medium);

  display: flex;
  flex-direction: column;

  padding: 16px;

  text-decoration: none;

  color: var(--text-primary);

  border: 1px solid transparent;
  border-radius: 16px;
  background-color: var(--background-color-primary);
  box-shadow: var(--shadow-secondary);
}

.task:hover {
  border-color: var(--alice-blue);
  box-shadow: var(--shadow-active-secondary);
}

.task:focus {
  border-color: var(--color-primary);
  box-shadow: var(--shadow-active-secondary);
}

.task:hover .status,
.task:focus .status {
  border-color: var(--color-success);
}

.row:not(:first-child) {
  margin-top: 8px;
}

.header {
  display: flex;
  align-items: center;
}

.date {
  flex-grow: 1;

  margin-left: 8px;
}

.status {
  margin-left: 8px;
}

.date,
.description,
.estimation,
.difficulty {
  font-size: var(--font-size-text-2);
  line-height: var(--line-height-text-2);

  color: var(--text-no-accent);
}

.description {
  color: var(--text-no-accent);
}

.meta {
  display: flex;
  align-items: center;
}

.estimation {
  display: flex;
  align-items: center;
}

.estimationTime {
  margin-left: 4px;
}

.participants {
  margin-left: auto;
}