.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-height: 0;
}

.header {
  padding-left: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.name {
  display: flex;
  align-items: center;
}

.priority {
  flex-shrink: 0;
}

.nameText {
  font-size: var(--font-size-title-2);
  line-height: var(--line-height-title-2);
  font-weight: var(--font-weight-medium);

  flex-grow: 1;

  margin-left: 8px;
}

.add {
  flex-shrink: 0;
}

.empty {
  flex-grow: 1;

  border-radius: 16px;
  background-color: var(--background-disabled-secondary);
}

.content {
  display: flex;
  flex-grow: 1;

  min-height: 0;
}

.content.empty {
  background-color: var(--gallery);
}

.list {
  padding: 0px 16px;
}

.item:not(:first-child) {
  margin-top: 12px;
}