:root {
  --alabaster: #f8f8f8;
  --gallery: #ececec;
  --titan-white: #f3f4ff;
  --alice-blue: #dde4ff;
  --periwinkle: #c0ceff;
  --primal-blue: #341eff;
  --persian-blue: #301fcd;
  --torea-bay: #2112ac;
  --vermilion: #ff3900;
  --sunglo: #e26265;
  --porsche: #e8b95a;
  --green-yellow: #89ff41;
  --pickled-bluewood: #273B4A;
  --vermilion: #ff3900;
  --silver-chalice: #ababab;
}

:root {
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-size-title-1: 24px;
  --font-size-title-2: 20px;
  --font-size-title-3: 18px;
  --font-size-title-4: 16px;
  --font-size-text-1: 14px;
  --font-size-text-2: 12px;
  --font-size-text-3: 10px;

  --line-height-title-1: 28px;
  --line-height-title-2: 24px;
  --line-height-title-3: 22px;
  --line-height-title-4: 20px;
  --line-height-text-1: 16px;
  --line-height-text-2: 14px;
  --line-height-text-3: 12px;
}

:root {
  --text-primary: var(--pickled-bluewood);
  --text-disabled: var(--silver-chalice);
  --text-help: var(--text-disabled);
  --text-placeholder: var(--text-disabled);
  --text-error: var(--vermilion);
  --text-reversed: var(--alabaster);

  --primary-color: var(--primal-blue);
  --input-color: var(--alice-blue);
  --background-control-active-color: var(--titan-white);
  --background-hover-primary: var(--persian-blue);
  --background-hover-secondary: var(--alice-blue);
  --background-active-primary: var(--torea-bay);
  --background-active-secondary: var(--periwinkle);
  --background-disabled: var(--gallery);
  
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
    url('/src/assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Roboto-Regular.woff') format('woff'),
    url('/src/assets/fonts/Roboto-Regular.ttf') format('ttf'),
    url('/src/assets/fonts/Roboto-Regular.eot') format('eot');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'),
    url('/src/assets/fonts/Roboto-Medium.eot') format('woff2'),
    url('/src/assets/fonts/Roboto-Medium.woff') format('woff'),
    url('/src/assets/fonts/Roboto-Medium.ttf') format('ttf'),
    url('/src/assets/fonts/Roboto-Medium.eot') format('eot');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
    url('/src/assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('/src/assets/fonts/Roboto-Bold.woff') format('woff'),
    url('/src/assets/fonts/Roboto-Bold.ttf') format('ttf'),
    url('/src/assets/fonts/Roboto-Bold.eot') format('eot');
}

body {
  font-family: 'Roboto', sans-serif;
}