:root {
  --alabaster: #f8f8f8;
  --gallery: #ececec;
  --titan-white: #f3f4ff;
  --alice-blue: #dde4ff;
  --periwinkle: #c0ceff;
  --primal-blue: #341eff;
  --persian-blue: #301fcd;
  --torea-bay: #2112ac;
  --vermilion: #ff3900;
  --sunglo: #e26265;
  --porsche: #e8b95a;
  --green-yellow: #89ff41; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
