.list {
  display: grid;

  row-gap: 24px;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }
}

@media (min-width: 1280px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}